In [302]:
import numpy as np
import pandas as pd                     #mantık excele benziyor

In [303]:
# SERIES/ SERİLER
sozluk={"Zeynep":26,"Ayşe":45,"Fatma":12}

In [304]:
pd.Series(sozluk)                   #seriyi oluşturdu

Zeynep    26
Ayşe      45
Fatma     12
dtype: int64

In [305]:
liste1=[10,20,50]
liste2=["elma","armut","ayva"]

In [306]:
pd.Series(data=liste1,index=liste2)                        #sözlük varken pek ihtiyaç yok gibi ama

elma     10
armut    20
ayva     50
dtype: int64

In [307]:
fiyatlar=np.random.rand(3,2)
urunler=["elma","armut","ayva","şeker","süt","un"]
print(fiyatlar)
fiyatlar=pd.Series(fiyatlar.reshape(6),index=urunler)                     #matrisi doğrudan seriye koyamıyorsun
fiyatlar

[[0.72894434 0.70325762]
 [0.82858356 0.21861832]
 [0.14327216 0.33926726]]

elma     0.728944
armut    0.703258
ayva     0.828584
şeker    0.218618
süt      0.143272
un       0.339267
dtype: float64

In [308]:
yeni_fiyatlar=fiyatlar.copy()               #kopyala
yeni_fiyatlar+=fiyatlar
yeni_fiyatlar

elma     1.457889
armut    1.406515
ayva     1.657167
şeker    0.437237
süt      0.286544
un       0.678535
dtype: float64

In [309]:
yeni_fiyatlar.corr(fiyatlar)

0.9999999999999998

In [310]:
yeni_fiyatlar.compare(fiyatlar)                 #karşılaştırma yapmana olanak veriyor. BAYES Tabloları çok güzel oluşur bunla

           self     other
elma   1.457889  0.728944
armut  1.406515  0.703258
ayva   1.657167  0.828584
şeker  0.437237  0.218618
süt    0.286544  0.143272
un     0.678535  0.339267

In [311]:
"""
Yedek parça satımı yapan bir firma A yedek parçasının
%40’ını X firmasından alırken %60’ını Y firmasından almaktadır. X
firması yedek parçalarının %5’i kusurlu iken bu oran Y firması yedek
parçaları için %3’dür. A yedek parçasını satın alan kişi firmaya
telefon ederek yedek parçanın kusurlu olduğunu söylemiştir. Bu
yedek parçanın X firmasından alınmış olması olasılığı nedir?
"""
X={"saglam":0.95,"bozuk":0.05}
Y={"saglam":0.97,"bozuk":0.03}

a=[0.4,0.6]
x=pd.Series(X)*a[0]
x

saglam    0.38
bozuk     0.02
dtype: float64

In [312]:
y=pd.Series(Y)*a[1]
y

saglam    0.582
bozuk     0.018
dtype: float64

In [313]:
x.compare(y)

        self  other
saglam  0.38  0.582
bozuk   0.02  0.018

In [314]:
topla={"saglam":x[0]+y[0],"bozuk":x[1]+y[1]}
topla=pd.Series(topla)
a=x[1]/topla[1]
a

0.5263157894736842

In [315]:
##Ozellikler
yeni_urunler={"makarna":0.5,"su":0.5,"zeytin":2,"faiz":-9}
yeni_urunler=pd.Series(yeni_urunler)

In [316]:
yeni_fiyatlar.add(fiyatlar)
yeni_fiyatlar.add(yeni_urunler,fill_value=0)                #Yeni seri  veya data frame eklemek için kullanılıyor.

armut      1.406515
ayva       1.657167
elma       1.457889
faiz      -9.000000
makarna    0.500000
su         0.500000
süt        0.286544
un         0.678535
zeytin     2.000000
şeker      0.437237
dtype: float64

In [317]:
yeni_urunler.abs()                 #absolute=> mutlak değere dönüyor

makarna    0.5
su         0.5
zeytin     2.0
faiz       9.0
dtype: float64

In [318]:
yeni_urunler.add_prefix("prefix_")                          #indexlerin başına belirtilen değeri ekliyor

prefix_makarna    0.5
prefix_su         0.5
prefix_zeytin     2.0
prefix_faiz      -9.0
dtype: float64

In [319]:
yeni_urunler.add_suffix("_suffix")                          #index'in sonuna ekliyor bu da

makarna_suffix    0.5
su_suffix         0.5
zeytin_suffix     2.0
faiz_suffix      -9.0
dtype: float64

In [320]:
# içine yazılan fonksiyon ismini getirir. Örneğin min,std,median,max,mean,count gibi ama ismi string formatında yazman gerek
yeni_urunler.agg("min")             
yeni_urunler.agg("max") 
yeni_urunler.agg("mean")
yeni_urunler.agg("std")
yeni_urunler.agg("median")
yeni_urunler.agg("sum")

-6.0

In [321]:
yeni_urunler.append(x)                      #ekleme

makarna    0.50
su         0.50
zeytin     2.00
faiz      -9.00
saglam     0.38
bozuk      0.02
dtype: float64

In [322]:
yeni_urunler.apply("square")                        #agg ile aynı neredeyse sadece daha geniş fonksiyon yapısı var. Karekök, karesi,logartima gibi işlemleri yapıyor.

makarna     0.25
su          0.25
zeytin      4.00
faiz       81.00
dtype: float64

In [323]:
yeni_urunler.pop("su")                                  #belirtilen değeri siler
yeni_urunler

makarna    0.5
zeytin     2.0
faiz      -9.0
dtype: float64